@page "/"

<h1>LSEG Data Platform Sample Application</h1>

Welcome to Data Platform  Real-Time Pricing App.
You can <a href="login">Login</a> to LSEG Data Platform.
<br />
This application allow you to request a Real-Time streaming price from Data Platform Websocket Streaming server.